<a href="https://colab.research.google.com/github/GNuSeekK/ICTCOG/blob/main/4_Python_%EA%B8%B0%EC%B4%88_%EB%AC%B8%EB%B2%95_Iteration_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Control Statement : Iteration Statement (While, For)

## 반복문이 중요한 이유
* 컴퓨터는 반복적인 작업을 잘 한다.
* 단순 반복적인 작업에 최적화 되어있다.
* 비슷하 작업(코드)들을 조건에 맞춰 반복적으로 수행하기 위해 사용

## while statement
* while문은 조건을 만족할 때 까지 반복
    * 조건을 만족하면 반복 중단

```python
while(condition : 조건):
    <statement1>
    <statement2>
    <statement3>
```

In [3]:
a = 1

while a < 10: # a가 10보다 작으면 반복
    print('hello',a)
    print('hi')
    a += 1

hello 1
hi
hello 2
hi
hello 3
hi
hello 4
hi
hello 5
hi
hello 6
hi
hello 7
hi
hello 8
hi
hello 9
hi

In [5]:
# 구구단 2단 만들기

num = 1

while num <= 9:
    print(f'2 × {num} = {2*num}')
    num += 1

2 × 1 = 2
2 × 2 = 4
2 × 3 = 6
2 × 4 = 8
2 × 5 = 10
2 × 6 = 12
2 × 7 = 14
2 × 8 = 16
2 × 9 = 18

## for statement

* while문은 조건제 반복
* for 문은 횟수제 반복(순환 반복)
    * iterable object를 이용한 반복이 가능하다.
    * 연속형 데이터 타입 변수들을 `iterable object`라고 한다.
    * `tuple, list, str 등`이 대표적인 연속형 데이터 타입

```python
for 변수명 in `iterable_object`:
    <statement1>
    <statement2>
    <statement3>
```

In [7]:
for i in [10,20,30]:
    print('hello', i)

hello 10
hello 20
hello 30

## while vs for
답은 따로 없다.

* 조건에 의한 반복 - while
* 꺼내가면서 반복 - for

## for의 단짝 range() 함수
* for는 원소를 꺼내서 반복하는 역할
* 숫자를 순서대로 꺼내서 사용하고 싶으면? range() 함수를 사용
* range()는 slice 기법과 비슷하게 사용이 된다.
    * range(start, end, step)처럼 사용이 가능!

In [8]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [9]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# 문제
``` python
coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
prices = [4100,4600,4600,5100,6000,5000]

일 때, 5000원으로 주문할 수 있는 커피를 모두 출력
```

In [16]:
# 나의 풀이
coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
prices = [4100,4600,4600,5100,6000,5000]

for index, coffee in enumerate(coffees):
    if prices[index] <= 5000:
        print(coffee)

# 강사님의 풀이

coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
prices = [4100,4600,4600,5100,6000,5000]

for coffee in range(len(coffees)):
    if prices[coffee] <= 5000:
        print(coffees[coffee])

아메리카노
카페라떼
카페모카
콜드브루
아메리카노
카페라떼
카페모카
콜드브루

## 여러개의 연속형 자료형을 반복하게 해주는 zip()

In [17]:
a = [1,2,3]
b = [4,5,6]
for item1, item2 in zip(a,b):
    print(item1, item2)

1 4
2 5
3 6

In [18]:
c = [7,8]

for item1, item2 in zip(a,c): #zip에 들어가는 리스트의 길이가 다를 경우, 짧은 것 기준
    print(item1, item2)

1 7
2 8

## 인덱스와 같이 표현하기 - enumerate

In [20]:
a = [10,20,30]

# 인덱스와 원소를 같이 표현
for index, item in enumerate(a):
    print(index, item)

0 10
1 20
2 30

In [24]:
# 언패킹 기법
t1 = (10,20,30)
item1, item2, item3 = t1

# continue와 break
* **continue** : 해당 반복만 멈추고 이어서 반복을 진행
* **break** : 반복문을 탈출한다.

In [26]:
for i in range(10):
    if i == 4:
        print('i가 4입니다.')
        continue
    print(i)

0
1
2
3
i가 4입니다.
5
6
7
8
9

In [27]:
for i in range(10):
    if i == 4:
        print('i가 4입니다.')
        break
    print(i)

0
1
2
3
i가 4입니다.

# 컴프리헨션 사용하기
* **list, set, dict**를 파이써닉(파이썬 답게) 만들어주는 기법
* 코드 한줄을 이용해서 원하는 시퀀스 자료를 만들 수 있게 해준다.

* 리스트 컴프리헨션
    * `[expression for item in iterable_object if 조건]`
        * **iterable_object** : 시퀀스 자료형태
        * **item** : 데이터를 하나씩 받을 변수
        * **expression** : item을 편집할 표현식(코드)
        * **조건** : 조건에 부합하는 아이템만 리스트에 집어 넣기

In [28]:
number_list = [number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

In [29]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [40]:
import datetime as dt
# 컴프리헨션 쓰지 않고
start_time = dt.datetime.now()
divisor_three = [] # 3의 배수를 집어 넣을 리스트

for x in range(1,101):
    if x % 3 == 0:
        divisor_three.append(x)
print(dt.datetime.now() - start_time)
print(divisor_three)

# 컴프리헨션 사용

start_time = dt.datetime.now()
divior_three = [x for x in range(1,101) if x % 3 == 0]
print(dt.datetime.now() - start_time)
print(divisor_three)

0:00:00.000094
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
0:00:00.000085
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]