<a href="https://colab.research.google.com/github/GNuSeekK/ICTCOG/blob/main/2_07_%5Bpandas%5D_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%94%84%EB%A0%88%EC%9E%84_%EB%B3%B5%EC%82%AC%2C_%EC%9D%B8%EB%8D%B1%EC%8A%A4%2C_%EB%B3%80%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
path="/content/drive/MyDrive/ICTCOG 인공지능과정/Data/korean-idol.csv"
df = pd.read_csv(path)
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

# copy
copy는 말 그대로 데이터 프레임을 복사할 때 사용

In [5]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

df를 단순하게 **new_df**라는 변수에 대입만 하고 **new_df**의 값을 바꾸면??

In [6]:
new_df = df

In [7]:
new_df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [8]:
new_df['이름'] = 0
new_df.head()

   이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0   0  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1   0     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2   0    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3   0  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4   0    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [9]:
df.head()

   이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0   0  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1   0     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2   0    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3   0  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4   0    마마무  RBW  여자  1995-07-23  162.1   A   7650928

단순하게 `=`로 대입하면 두 개의 변수가 같은 메모리 주소를 참조

In [10]:
hex(id(new_df))

'0x7f3306a4f350'

In [11]:
hex(id(df))

'0x7f3306a4f350'

new_df와 df는 같은 객체를 참조 중이다

**원본 데이터를 유지 시키고, 새로운 변수에 복사 할 때는 copy()**를 사용합니다.

In [12]:
path="/content/drive/MyDrive/ICTCOG 인공지능과정/Data/korean-idol.csv"
df = pd.read_csv(path)
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [13]:
copy_df = df.copy() #  원본 데이터 프레임을 복사해서 새로운 데이터 프레임을 만들어 copy_df에 할당

In [14]:
# 메모리 주소값 확인
hex(id(copy_df))

'0x7f3306999590'

In [15]:
hex(id(df))

'0x7f33069bc710'

In [16]:
copy_df['이름'] = 0
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

데이터를 편집 할 때는 원본 데이터 백업 후 편집하기

# 데이터의 추가와 삭제

## row 추가하기
* dict 형식의 데이터를 만들어 준 다음 `append()` 함수를 활용하여 데이터를 추가
* **반드시 ignore_index=True**로 설정
  * 안하면 에러!

In [17]:
df.tail()

     이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
10   태연   소녀시대    SM  여자  1989-03-09    NaN   A  3918661
11  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
12   백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654
13   JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O  3274137
14   슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O  2925442

In [18]:
new_data = {
    "이름": "소민호",
    "그룹": "뉴 그룹",
    "소속사": "돈 많이 주는 소속사",
    "성별": "남자",
    "생년월일": "1988-01-29",
    "키": 180.1,
    "혈액형": "AB",
    "브랜드평판지수": 123456789
}

df.append(new_data, ignore_index=True)

      이름     그룹          소속사  성별        생년월일      키 혈액형    브랜드평판지수
0     지민  방탄소년단          빅히트  남자  1995-10-13  173.6   A   10523260
1   지드래곤     빅뱅           YG  남자  1988-08-18  177.0   A    9916947
2   강다니엘    NaN          커넥트  남자  1996-12-10  180.0   A    8273745
3      뷔  방탄소년단          빅히트  남자  1995-12-30  178.0  AB    8073501
4     화사    마마무          RBW  여자  1995-07-23  162.1   A    7650928
5     정국  방탄소년단          빅히트  남자  1997-09-01  178.0   A    5208335
6     민현   뉴이스트         플레디스  남자  1995-08-09  182.3   O    4989792
7     소연    아이들           큐브  여자  1998-08-26    NaN   B    4668615
8      진  방탄소년단          빅히트  남자  1992-12-04  179.2   O    4570308
9    하성운     핫샷      스타크루이엔티  남자  1994-03-22  167.1   A    4036489
10    태연   소녀시대           SM  여자  1989-03-09    NaN   A    3918661
11   차은우   아스트로         판타지오  남자  1997-03-30  183.0   B    3506027
12    백호   뉴이스트         플레디스  남자  1995-07-21  175.0  AB    3301654
13    JR   뉴이스트         플레디스  남자  1995-06-08  176.0   O    3274137
14    슈가  방탄소년단          빅히트  남자  1993-03-09  174.0   O    2925442
15   소민호   뉴 그룹  돈 많이 주는 소속사  남자  1988-01-29  180.1  AB  123456789

In [19]:
# 추가가 된 것 확인
df.tail()

     이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
10   태연   소녀시대    SM  여자  1989-03-09    NaN   A  3918661
11  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
12   백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654
13   JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O  3274137
14   슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O  2925442

append 함수는 데이터 프레임 원본에 데이터를 새롭게 추가 시키는 것이 아닌,  
> **데이터가 추가된 새로운 데이터 프레임을 반환한다.**

리스트의 append와의 차이점!!

In [20]:
df = df.append(new_data, ignore_index=True)
df.tail()

     이름     그룹          소속사  성별        생년월일      키 혈액형    브랜드평판지수
11  차은우   아스트로         판타지오  남자  1997-03-30  183.0   B    3506027
12   백호   뉴이스트         플레디스  남자  1995-07-21  175.0  AB    3301654
13   JR   뉴이스트         플레디스  남자  1995-06-08  176.0   O    3274137
14   슈가  방탄소년단          빅히트  남자  1993-03-09  174.0   O    2925442
15  소민호   뉴 그룹  돈 많이 주는 소속사  남자  1988-01-29  180.1  AB  123456789

## column 추가
단순히 새로운 컬럼을 지정하고 값을 대입해 주면 된다.

In [21]:
df['국적'] = '대한민국'
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수    국적
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260  대한민국
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947  대한민국
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745  대한민국
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501  대한민국
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928  대한민국

### loc를 활용해서 지드래곤의 국적을 korea로 변경해 보자
* `이름`이 `지드래곤`인 행의 `국적` 데이터를 `대한민국`에서 `korea`로 바꾸기

In [22]:
df.loc[df['이름'] == '지드래곤', '국적'] = 'korea'
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수     국적
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260   대한민국
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947  korea
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745   대한민국
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501   대한민국
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928   대한민국

# 통계값 다루기
* 통계값은 항상 data type이 정수(int) 또는 실수(float)

## min(최소값), max(최대값)

In [23]:
df['키'].min()

162.1

In [24]:
df['키'].max()

183.0

## sum(합계), mean(평균)

In [25]:
df['키'].sum()

2465.4

In [26]:
df['키'].mean()

176.1

## var, variance(분산) / std, standard deviation(표준편차)
* 분산과 표준편차는 데이터가 **평균으로부터 얼마나 떨어져 있는지 정도**를 나타낸다.
* $분산 = \frac{1}{n}\sum_{i=1}^{n}(데이터_{i}-평균)^2$
* 표준편차는 분산(var)에 **루트를 씌운 것(np.sqrt)**

In [27]:
import numpy as np

data1 = np.array([1, 3, 5, 7, 9])
data2 = np.array([3, 4, 5, 6, 7])

`data1`, `data2`의 평균은 `5.0`으로 같다.

In [28]:
data1.mean(), data2.mean()

(5.0, 5.0)

하지만, 데이터의 분포가 큰 것은 `data1`, 데이터의 분포가 조금 더 오밀조밀 한 것은 `data2`이다.

즉, `data1`의 표준편차와 분산이 `data2`의 표준편차와 분산보다 크다라는 것을 알 수 있다.

In [29]:
def get_var(datas):
  # 데이터의 평균을 먼저 구하기
  data_mean = datas.mean()
  
  total = 0

  for data in datas:
    total += (data-data_mean)**2
  
  return total / len(datas)

In [30]:
d1_var = get_var(data1)
print("data1의 분산 : {}".format(d1_var))
print("data1의 표준편차 : {}".format(np.sqrt(d1_var)))

data1의 분산 : 8.0
data1의 표준편차 : 2.8284271247461903

In [31]:
d2_var = get_var(data2)
print("data2의 분산 : {}".format(d2_var))
print("data2의 표준편차 : {}".format(np.sqrt(d2_var)))

data2의 분산 : 2.0
data2의 표준편차 : 1.4142135623730951

numpy에 구현된 표준편차와 분산 이용하기

In [32]:
# 분산 구하기
data1.var(), data2.var()

(8.0, 2.0)

In [33]:
# 표준편차 구하기
data1.std(), data2.std()

(2.8284271247461903, 1.4142135623730951)

주로 표준편차를 많이 사용, **데이터가 평균으로부터 얼마나 퍼져있는지 정도를 나타내는 지표**

In [34]:
df['키'].var(), df['키'].std()

(32.59846153846156, 5.7095062429654595)

## 개수 세기

In [35]:
df['키'].count()

14

## 중앙값

In [36]:
df['키'].median()

177.5

# 최빈값
* 제일 자주 등장한 값

In [37]:
df['키'].mode()

0    178.0
dtype: float64