<a href="https://colab.research.google.com/github/GNuSeekK/ICTCOG/blob/main/2_Python_%EA%B8%B0%EC%B4%88_%EB%AC%B8%EB%B2%95_Data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Type이란?
* 모든 프로그래밍 언어가 **데이터**를 다루기 위한 약속
* 내가 사용하고 싶은 데이터의 형식
  > int, float, str, list, typle, set, dict, ...
* 프로그래밍 언어마다 조금씩 다르고, 어떠한 프로그래밍 언어를 배우든 제일 처음 익혀야할 관문
* 데이터를 수집하고 나서 제일 먼저 확인해야 할 것이 바로 **데이터 타입 확인**
    * 원하는 형식으로 올바르게 데이터가 존재 하는지를 반드시 확인해 봐야 합니다.

# 변수(Variable)란?
* 프로그래밍 언어에서는 변수에서 **데이터를 저장/관리**한다.
* 변수라는 개념을 통해 데이터를 사용할 수 있다.

In [ ]:
a = 10
a

10

# 숫자 데이터 (Numeric Data Types)
* 숫자형 데이터란? 정수 / 실수 / 복소수 / 2진수 / 8진수 / 16진수를 포함하여 가장 많이 사용되는 타입중 하나입니다.
* 파이썬은 숫자의 표현 범위가 무한대
    * 컴퓨터가 따라가지 못할정도로 크거나 작은 값이면 'int'로 처리
* 숫자 데이터이기 때문에 각종 연산을 지원 합니다.

## 정수형(Integer)

In [4]:
a = 10 # 10을 a에 할당(assignment)
b = 5

a + b

15

In [5]:
a - b

5

In [6]:
a * b

50

## 실수형 (Floating Point)
* 소수점 자리가 있는 **수**

In [7]:
c = 3.14
d = 0.5

c + d

3.64

In [8]:
c - d

2.64

In [9]:
c + a

13.14

In [11]:
# e를 쓰는 표현은 사람이 직접 하는 경우는 거의 없다.
# 데이터 분석, 머신러닝, 딥러닝 등을 하다보면 가끔 이렇게 표기가 되는 경우가 많다.
e = 1.34e6
e

1340000.0

In [13]:
f = 1.34e-6
f

1.34e-06

# 숫자 타입으로 사용할 수 있는 여러가지 연산자
* 연산자? 연산을 하기 위한 **기호**
* 연산? 계산이라고도 이해할 수 있지만, 프로그래밍에서는 결과를 내기위한 과정\

In [24]:
# a에 10을, b에 3을 할당
a = 10
b = 3

print(a + b) # a + b의 결과물을 print(출력)한다.
print(a - b)
print(a * b)
print(a / b) # 나눗셈은 실수로 표현 된다.

# 특수연산
print(a // b) # 몫만 구하는 방법
print(a % b) # 나머지만 구하는 방법
print(a ** 2) # a의 2제곱

13
7
30
3.3333333333333335
3
1
100

* 실수랑 정수랑 연산하면 그 결과는 뭐가 될까요? -> 실수
    * 실수가 정수보다 표현범위가 넓기 때문
* '3.0'은 정수? 실수? -> 실수
    * '3.0'과 3은 같을까요? -> 값은 똑같지만 데이터 타입이 다르다.

## 데이터 분석에서의 정수와 실수의 역할
* 보통 데이터 분석에서 **값으로써** 활용되는 데이터 타입은 '실수'
    * 값은 연산의 대상이 된다.
    * 나이도 원래는 정수로 생각하기 쉬움
        * '20살' -> '20.0살'
        * '10명' -> '10.0명'
* 정수는 보통 카테고리에 매칭하기 위해 사용
    * '족구' : 0
    * '축구' : 1
    * '농구' : 2

# 문자열(String)
* 문자열 데이터란? -> 텍스트
    * 문자(character)의 나열
* 문자열 데이터를 사용할 때는 작은 따옴표('') 또는 큰 따옴표("")를 활용한다.

In [27]:
s = "안녕하세요. 반갑습니다."
print(s)

안녕하세요. 반갑습니다.

In [28]:
s2 = '오늘은 5월 16일 입니다.'
print(s2)

오늘은 5월 16일 입니다.

I'm Student를 출력해 보자

In [31]:
s3 = 'I'm student'

SyntaxError: ignored

In [32]:
s3 = "I'm student"
print(s3)

In [33]:
# 큰 따옴표를 문자열 안에 표시하고 싶을 때는 작은 따옴표로 문자열을 만든다.
# "안녕하세요"라고 인사했어요
s4 = '"안녕하세요"라고 인사했어요.'
print(s4)

"안녕하세요"라고 인사했어요.

## 특수 문자 표현(escape code)

In [36]:
s5 = '"안녕하세요"라고
인사했어요'

SyntaxError: ignored

In [39]:
s5 = '"안녕하세요"라고\n인사했어요'
print(s5)

"안녕하세요"라고
인사했어요

In [43]:
s6 = "Hellow\tWorld"
s7 = "Hellow\t\tWorld"
print(s6)
print(s7)

Hellow	World
Hellow		World

In [46]:
# 개행을 쉽게 하자(큰 따옴표나 작은 따옴표를 3개를 연속으로 사용하는 방식)
news = """오늘은 이기성이 ICTCOG 인공지능 수업을 처음 들은 날이다.

이 날은 5.16로 휴가를 가기 얼마 전이라 마음이 싱숭생숭 하지만
열심히 배워 좋은 인공지능을 구현하기 위해 노력하고 있다."""

print(news)

오늘은 이기성이 ICTCOG 인공지능 수업을 처음 들은 날이다.

이 날은 5.16로 휴가를 가기 얼마 전이라 마음이 싱숭생숭 하지만
열심히 배워 좋은 인공지능을 구현하기 위해 노력하고 있다.

In [48]:
news

'오늘은 이기성이 ICTCOG 인공지능 수업을 처음 들은 날이다.\n\n이 날은 5.16로 휴가를 가기 얼마 전이라 마음이 싱숭생숭 하지만\n열심히 배워 좋은 인공지능을 구현하기 위해 노력하고 있다.'

## 문자열의 연산도 가능 할까요?
* 덧셈 : 문자열과 문자열을 이어주는 역할
* 곱셈 : 문자열을 n회 반복하는 역할

In [50]:
FIRST_NAME = '기성'
LAST_NAME = '이'

print(LAST_NAME + FIRST_NAME)

이기성

In [52]:
FIRST_NAME = '기성'
LAST_NAME = '이'

print(LAST_NAME + ' ' + FIRST_NAME)

이 기성

In [53]:
s = 'hello'
print(s*10) # 문자열 s안의 것을 10번 반복

hellohellohellohellohellohellohellohellohellohello

## 문자열 포매팅(formatting)

In [57]:
age = [10,20]
# 저의 나이는 10살입니다. 라는 문자열이 출력 될 수 있게 하려면?
# 1. 덧셈을 사용하는 방법
for s in age:
    print('저의 나이는 ' + str(s) + '살입니다') #age를 str으로 덮으면 타입 캐스팅이 발생됨. 정수를 문자열로 바꿔줍니다.

저의 나이는 10살입니다
저의 나이는 20살입니다

문자열 포매팅 기법 2가지 소개
* 문자열.format 기능을 활용
* f-string 기법 활용

In [64]:
age = 20
# format 기능 활용하기
s = '저의 나이는 {}살 입니다.'
print(s.format(age))

저의 나이는 20살 입니다.

In [67]:
# f-string 기법 활용하기
age = 20
s = f'저의 나이는 {age}살 입니다.'
print(s)

저의 나이는 20살 입니다.

* 나는 오늘 사과를 10개 샀다.
* 나는 오늘 배를 5개 샀다.

In [71]:
apple = 10
pear = 5
s = '나는 오늘 {}를 {}개 샀다.'
print(s.format('사과',apple))
print(s.format('배',pear))

나는 오늘 사과를 10개 샀다.
나는 오늘 배를 5개 샀다.

In [76]:
s = f'저의 이름은 {LAST_NAME} {FIRST_NAME}입니다.'
print(s)

저의 이름은 이 기성입니다.

문제

주민등록번호 입력 받을 때 이름, 주민등록번호 필요
* 이름은 name이라는 변수에 그냥 입력
* 주민등록번호는 생년월일 + 앞자리 까지만 입력

출력 : ' " 이기성 / 970813-1****** " '

In [82]:
name = '이기성'
id = '970813-1'
print(name + ' / '  + id + '******')
print(f'{name} / {id}******')
print('{} / {}******'.format(name,id))

이기성 / 970813-1******
이기성 / 970813-1******
이기성 / 970813-1******

## 타입 캐스팅(자료형 변환)
* 정수 - int
* 실수 - float
* 문자열 - str

데이터 끼리의 타입을 변경 시켜주는 기능

In [84]:
# 정수를 실수와 문자열로 각각 변경
a = 10

float_a = float(a)
str_a = str(a)

print(float_a)
print(str_a)

10.0
10

In [86]:
# 타입 확인하기 type
print(type(float_a))
print(type(str_a))

<class 'float'>
<class 'str'>

In [88]:
# 실수를 문자열과 정수로 바꿔주기
b = 1.5
int_b = int(b)
str_b = str(b)

print(int_b)
print(str_b)

1
1.5

In [90]:
# 문자열을 정수와 실수로 바꿔주기
#   주의사항 : 문자열이 반드시 숫자의 모양을 하고 있어야 한다.
s = '3.14'
print(int(s)) #int는 정수 모양을 하고 있는 문자열만 바꿔 준다.

ValueError: ignored

In [91]:
s = '3.14'
print(float(s))

3.14

In [92]:
s = '3'
print(float(s)) # 오류 No 실수는 정수 범위를 포함하기 때문

3.0

## 문자열에서  사용할 수 있는 여러 기능들

In [94]:
# 영어 대소문자 바꾸기
# upper() : 모든 영어 문자를 대문자로
# lower() : 모든 영어 문자를 소문자로

s = 'Hello World'

print(s.upper())
print(s.lower())

HELLO WORLD
hello world

In [96]:
# 양쪽 끝의 공백 삭제하기
# strip()

s = '  hello world   '
print(s.strip())

hello world

In [98]:
# 문자열 삽입 기능
# join
'='.join('abcd')

'a=b=c=d'

In [102]:
# 문자열 분리 기능
# split

s = '#오늘#날씨#흐림'
s.split('#')

['', '오늘', '날씨', '흐림']

In [104]:
s = 'hello world haha'
print(s.split(' ')) #공백은 생략 가능 default 값

['hello', 'world', 'haha']

In [107]:
# 공백을 활용해서 문자열을 잘라낼 때 팁
s = 'hello  world' #공백 두칸
print(s.split(' '))

# 공백이 몇칸이든 없앨 수 있음
print(s.split())

['hello', '', 'world']
['hello', 'world']

In [110]:
# 문자열 바꾸기(치환)
# replace

s = '오늘 날씨가 시원합니다.' # 오늘 -> 어제
print(s.replace('오늘','어제'))

어제 날씨가 시원합니다.