<a href="https://colab.research.google.com/github/GNuSeekK/ICTCOG/blob/main/2_Python_%EA%B8%B0%EC%B4%88_%EB%AC%B8%EB%B2%95_Data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Type이란?
* 모든 프로그래밍 언어가 **데이터**를 다루기 위한 약속
* 내가 사용하고 싶은 데이터의 형식
  > int, float, str, list, typle, set, dict, ...
* 프로그래밍 언어마다 조금씩 다르고, 어떠한 프로그래밍 언어를 배우든 제일 처음 익혀야할 관문
* 데이터를 수집하고 나서 제일 먼저 확인해야 할 것이 바로 **데이터 타입 확인**
    * 원하는 형식으로 올바르게 데이터가 존재 하는지를 반드시 확인해 봐야 합니다.

# 변수(Variable)란?
* 프로그래밍 언어에서는 변수에서 **데이터를 저장/관리**한다.
* 변수라는 개념을 통해 데이터를 사용할 수 있다.

In [ ]:
a = 10
a

10

# 숫자 데이터 (Numeric Data Types)
* 숫자형 데이터란? 정수 / 실수 / 복소수 / 2진수 / 8진수 / 16진수를 포함하여 가장 많이 사용되는 타입중 하나입니다.
* 파이썬은 숫자의 표현 범위가 무한대
    * 컴퓨터가 따라가지 못할정도로 크거나 작은 값이면 'int'로 처리
* 숫자 데이터이기 때문에 각종 연산을 지원 합니다.

## 정수형(Integer)

In [ ]:
a = 10 # 10을 a에 할당(assignment)
b = 5

a + b

15

In [ ]:
a - b

5

In [ ]:
a * b

50

## 실수형 (Floating Point)
* 소수점 자리가 있는 **수**

In [ ]:
c = 3.14
d = 0.5

c + d

3.64

In [ ]:
c - d

2.64

In [ ]:
c + a

13.14

In [ ]:
# e를 쓰는 표현은 사람이 직접 하는 경우는 거의 없다.
# 데이터 분석, 머신러닝, 딥러닝 등을 하다보면 가끔 이렇게 표기가 되는 경우가 많다.
e = 1.34e6
e

1340000.0

In [ ]:
f = 1.34e-6
f

1.34e-06

# 숫자 타입으로 사용할 수 있는 여러가지 연산자
* 연산자? 연산을 하기 위한 **기호**
* 연산? 계산이라고도 이해할 수 있지만, 프로그래밍에서는 결과를 내기위한 과정\

In [ ]:
# a에 10을, b에 3을 할당
a = 10
b = 3

print(a + b) # a + b의 결과물을 print(출력)한다.
print(a - b)
print(a * b)
print(a / b) # 나눗셈은 실수로 표현 된다.

# 특수연산
print(a // b) # 몫만 구하는 방법
print(a % b) # 나머지만 구하는 방법
print(a ** 2) # a의 2제곱

13
7
30
3.3333333333333335
3
1
100

* 실수랑 정수랑 연산하면 그 결과는 뭐가 될까요? -> 실수
    * 실수가 정수보다 표현범위가 넓기 때문
* '3.0'은 정수? 실수? -> 실수
    * '3.0'과 3은 같을까요? -> 값은 똑같지만 데이터 타입이 다르다.

## 데이터 분석에서의 정수와 실수의 역할
* 보통 데이터 분석에서 **값으로써** 활용되는 데이터 타입은 '실수'
    * 값은 연산의 대상이 된다.
    * 나이도 원래는 정수로 생각하기 쉬움
        * '20살' -> '20.0살'
        * '10명' -> '10.0명'
* 정수는 보통 카테고리에 매칭하기 위해 사용
    * '족구' : 0
    * '축구' : 1
    * '농구' : 2

# 문자열(String)
* 문자열 데이터란? -> 텍스트
    * 문자(character)의 나열
* 문자열 데이터를 사용할 때는 작은 따옴표('') 또는 큰 따옴표("")를 활용한다.

In [ ]:
s = "안녕하세요. 반갑습니다."
print(s)

안녕하세요. 반갑습니다.

In [ ]:
s2 = '오늘은 5월 16일 입니다.'
print(s2)

오늘은 5월 16일 입니다.

I'm Student를 출력해 보자

In [ ]:
s3 = 'I'm student'

SyntaxError: ignored

In [ ]:
s3 = "I'm student"
print(s3)

In [ ]:
# 큰 따옴표를 문자열 안에 표시하고 싶을 때는 작은 따옴표로 문자열을 만든다.
# "안녕하세요"라고 인사했어요
s4 = '"안녕하세요"라고 인사했어요.'
print(s4)

"안녕하세요"라고 인사했어요.

## 특수 문자 표현(escape code)

In [ ]:
s5 = '"안녕하세요"라고
인사했어요'

SyntaxError: ignored

In [ ]:
s5 = '"안녕하세요"라고\n인사했어요'
print(s5)

"안녕하세요"라고
인사했어요

In [ ]:
s6 = "Hellow\tWorld"
s7 = "Hellow\t\tWorld"
print(s6)
print(s7)

Hellow	World
Hellow		World

In [ ]:
# 개행을 쉽게 하자(큰 따옴표나 작은 따옴표를 3개를 연속으로 사용하는 방식)
news = """오늘은 이기성이 ICTCOG 인공지능 수업을 처음 들은 날이다.

이 날은 5.16로 휴가를 가기 얼마 전이라 마음이 싱숭생숭 하지만
열심히 배워 좋은 인공지능을 구현하기 위해 노력하고 있다."""

print(news)

오늘은 이기성이 ICTCOG 인공지능 수업을 처음 들은 날이다.

이 날은 5.16로 휴가를 가기 얼마 전이라 마음이 싱숭생숭 하지만
열심히 배워 좋은 인공지능을 구현하기 위해 노력하고 있다.

In [ ]:
news

'오늘은 이기성이 ICTCOG 인공지능 수업을 처음 들은 날이다.\n\n이 날은 5.16로 휴가를 가기 얼마 전이라 마음이 싱숭생숭 하지만\n열심히 배워 좋은 인공지능을 구현하기 위해 노력하고 있다.'

## 문자열의 연산도 가능 할까요?
* 덧셈 : 문자열과 문자열을 이어주는 역할
* 곱셈 : 문자열을 n회 반복하는 역할

In [ ]:
FIRST_NAME = '기성'
LAST_NAME = '이'

print(LAST_NAME + FIRST_NAME)

이기성

In [ ]:
FIRST_NAME = '기성'
LAST_NAME = '이'

print(LAST_NAME + ' ' + FIRST_NAME)

이 기성

In [ ]:
s = 'hello'
print(s*10) # 문자열 s안의 것을 10번 반복

hellohellohellohellohellohellohellohellohellohello

## 문자열 포매팅(formatting)

In [ ]:
age = [10,20]
# 저의 나이는 10살입니다. 라는 문자열이 출력 될 수 있게 하려면?
# 1. 덧셈을 사용하는 방법
for s in age:
    print('저의 나이는 ' + str(s) + '살입니다') #age를 str으로 덮으면 타입 캐스팅이 발생됨. 정수를 문자열로 바꿔줍니다.

저의 나이는 10살입니다
저의 나이는 20살입니다

문자열 포매팅 기법 2가지 소개
* 문자열.format 기능을 활용
* f-string 기법 활용

In [ ]:
age = 20
# format 기능 활용하기
s = '저의 나이는 {}살 입니다.'
print(s.format(age))

저의 나이는 20살 입니다.

In [ ]:
# f-string 기법 활용하기
age = 20
s = f'저의 나이는 {age}살 입니다.'
print(s)

저의 나이는 20살 입니다.

* 나는 오늘 사과를 10개 샀다.
* 나는 오늘 배를 5개 샀다.

In [ ]:
apple = 10
pear = 5
s = '나는 오늘 {}를 {}개 샀다.'
print(s.format('사과',apple))
print(s.format('배',pear))

나는 오늘 사과를 10개 샀다.
나는 오늘 배를 5개 샀다.

In [ ]:
s = f'저의 이름은 {LAST_NAME} {FIRST_NAME}입니다.'
print(s)

저의 이름은 이 기성입니다.

문제

주민등록번호 입력 받을 때 이름, 주민등록번호 필요
* 이름은 name이라는 변수에 그냥 입력
* 주민등록번호는 생년월일 + 앞자리 까지만 입력

출력 : `"이기성 / 970813-1******"`

In [ ]:
name = '이기성'
id = '970813-1'
print(name + ' / '  + id + '******')
print(f'{name} / {id}******')
print('{} / {}******'.format(name,id))

이기성 / 970813-1******
이기성 / 970813-1******
이기성 / 970813-1******

## 타입 캐스팅(자료형 변환)
* 정수 - int
* 실수 - float
* 문자열 - str

데이터 끼리의 타입을 변경 시켜주는 기능

In [ ]:
# 정수를 실수와 문자열로 각각 변경
a = 10

float_a = float(a)
str_a = str(a)

print(float_a)
print(str_a)

10.0
10

In [ ]:
# 타입 확인하기 type
print(type(float_a))
print(type(str_a))

<class 'float'>
<class 'str'>

In [ ]:
# 실수를 문자열과 정수로 바꿔주기
b = 1.5
int_b = int(b)
str_b = str(b)

print(int_b)
print(str_b)

1
1.5

In [ ]:
# 문자열을 정수와 실수로 바꿔주기
#   주의사항 : 문자열이 반드시 숫자의 모양을 하고 있어야 한다.
s = '3.14'
print(int(s)) #int는 정수 모양을 하고 있는 문자열만 바꿔 준다.

ValueError: ignored

In [ ]:
s = '3.14'
print(float(s))

3.14

In [ ]:
s = '3'
print(float(s)) # 오류 No 실수는 정수 범위를 포함하기 때문

3.0

## 문자열에서  사용할 수 있는 여러 기능들

In [ ]:
# 영어 대소문자 바꾸기
# upper() : 모든 영어 문자를 대문자로
# lower() : 모든 영어 문자를 소문자로

s = 'Hello World'

print(s.upper())
print(s.lower())

HELLO WORLD
hello world

In [ ]:
# 양쪽 끝의 공백 삭제하기
# strip()

s = '  hello world   '
print(s.strip())

hello world

In [ ]:
# 문자열 삽입 기능
# join
'='.join('abcd')

'a=b=c=d'

In [ ]:
# 문자열 분리 기능
# split

s = '#오늘#날씨#흐림'
s.split('#')

['', '오늘', '날씨', '흐림']

In [ ]:
s = 'hello world haha'
print(s.split(' ')) #공백은 생략 가능 default 값

['hello', 'world', 'haha']

In [ ]:
# 공백을 활용해서 문자열을 잘라낼 때 팁
s = 'hello  world' #공백 두칸
print(s.split(' '))

# 공백이 몇칸이든 없앨 수 있음
print(s.split())

['hello', '', 'world']
['hello', 'world']

In [ ]:
# 문자열 바꾸기(치환)
# replace

s = '오늘 날씨가 시원합니다.' # 오늘 -> 어제
print(s.replace('오늘','어제'))

어제 날씨가 시원합니다.

# 연속형 데이터 (Sequential Data Type)

## 연속형 데이터의 종류
* list
* tuple
* 'str' : 문자열은 문자의 나열이기 때문에 연속형에 속함

숫자 100개를 한꺼번에 다루려고 한다.
  1. 변수 100개를 만들어서 순서대로 사용한다.
  2. 100개의 데이터(숫자)를 한꺼번에 묶는다.
        * 100개의 숫자를 한꺼번에 다룰 수 있는 하나의 변수를 사용한다.
        * 100개의 숫자를 연속적으로 다룰 수 있는 자료형

## List
* 가장 많이 사용되는 연속형 데이터 타입
* 유연한 구조를 가지고 있어서 데이터를 편하게 다룰 수 있다.
    - 리스트 내부에는 파이썬의 모든 것들이 포함될 수 있다.
* 추가된 **데이터의 수정**(삭제,변경)이 가능하기 때문에 수정이 일어나지 말아야 할 경우에는 사용 X

In [ ]:
l = [1,2,3]
l

[1, 2, 3]

In [ ]:
# 리스트의 길이(크기) 확인 - len
len(l)

3

In [ ]:
# 비어 있는 리스트를 만드는 방법
l = []
l = list()

In [ ]:
l = [1, 'Hi', 3.14, [1,2,3]]
pri

[1, 'Hi', 3.14, [1, 2, 3]]

## Indexing
* 연속형 데이터들은 하나의 변수에 여러가지 데이터를 가지기 떄문에 여러 데이터에 접근할 수 있는 방법이 필요
* 데이터에 접근하기 위해 index라는 개념을 사용한다. 즉, 인덱스를 이용해서 접근(access)하는 방법
* 인덱스는 0으로 시작하며 1씩 증가하는 정수 index를 사용한다.
* 파이썬에서는 음수 인덱스도 제공한다.
    * -1부터 시작하며, 오른쪽 방향에서 부터 시작
* 인덱스를 통해 접근 하는 방법은 []안쪽에 알맞는 인덱스를 넣어주면 해당 데이터에 접근이 가능

In [ ]:
L = [1,2,3,4,5]
# 첫 번째 데이터에 접근 하고 싶다.
print(L[0])
# 세 번째 데이터에 접근하고 싶다.
print(L[2])
# 다섯 번째 데이터
print(L[4])
# 마지막 데이터
print(L[-1])
# 요소의 덧셈
print(L[0] + L[3])

1
3
5
5
5

In [ ]:
L = [1,[2,3],4]

print(L[1][0])

2

## Sclicing
* 수치 연산을 위함 umpy array나 pandas의 dataframe에서도 비슷한 연산들이 많다.
* 리스트의 일부만 잘라내는 기법
* 리스트의 일부만 사용하고 싶을 때 쓰는 기법이다. 인덱스를 범위로 지정해서 잘라내는 기법
* `[start:end:step]` : `start`부터 `end-1`까지 `step`만큼 건너 뛰면서 잘라내기

In [ ]:
L = [1,2,3,4,5]
# [1,2,3]
print(L[0:3])

# [2,3,4] 추출
print(L[1:4])

[1, 2, 3]
[2, 3, 4]

* `start`의 default : 0
* `end`의 default : len
* `step`의 default : 1

In [ ]:
L[ : : 2]

[1, 3, 5]

In [ ]:
s = 'Hello' # 문자열도 Sequential Data
print(s[2])
print(s[:3])
print(s[::-1])

l
Hel
olleH

## 리스트 연산하기
* 문자열 때와 비슷하게 리스트에서 사칙연산 (더하기, 곱셈)

In [1]:
print('hello' + 'hi')

hellohi

In [2]:
l1 = [1,2,3]
l2 = [4,5]

l1 + l2

[1, 2, 3, 4, 5]

In [4]:
print('hello' * 3)

hellohellohello

In [5]:
l2 * 3

[4, 5, 4, 5, 4, 5]

## 리스트 수정하기

In [7]:
l1 = [1,2,3]
l1[2] = 10

In [8]:
l1[2]

10

## 리스트 관련 함수(기능)

### 리스트에 원소 추가하기 append()

In [9]:
# 비어있는 리스트 만들기
l1 = []
l1.append(3)
l1.append(2)
l1.append(1)

l1

[3, 2, 1]

In [10]:
# 크롤링 등을 하면서 append를 자주 사용하게 될 예정
l2 = []
l2.append([1,'hello'])
l2.append([2,'bye'])
l2.append([3,'greeting'])

### 리스트의 원소 정렬하기 sort()

In [12]:
l1 = [1,5,4,3,7,9,8,2,6]

l1.sort() # 오름차순 정렬
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
l1.sort(reverse = True) # 내림차순 정렬
l1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### 리스트 뒤집기 reverse()
* 슬라이싱할 때 배웠던 [::-1]과 같은 효과

In [14]:
l1 = [1,5,3,4,2,6]
l1.reverse()
l1

[6, 2, 4, 3, 5, 1]

In [15]:
l1 = [1,5,3,4,2,6]
l1[::-1]

[6, 2, 4, 3, 5, 1]

### 리스트에서 원소 제거하기 pop()
* 잘 사용되진 않는다.
* 개인적으로는 multiprocessing을 할 때 잘 사용하고 있다. (db 연결을 위해)

In [16]:
l1 = [1,2,3]
l1.pop() # 맨 뒤에 있는 원소 제거

3

In [17]:
l1

[1, 2]

In [18]:
l1.pop(0) # 인덱스를 집어 넣고 삭제 가능

1

In [19]:
l1

[2]

### 리스트의 원소에 있는 문자열 이어주기 join()

In [21]:
l1 = ['hello', 'hi', 'buy', 'greeting']
'＄'.join(l1) # join은 문자열의 기능이지만 리스트와 같이 잘 사용됨.

'hello＄hi＄buy＄greeting'

## 튜플(Tuple)
* 튜플은 개발같은 것(대표적으로 웹) 할 때는 잘 사용 x
* 데이터 분석에서는 리스트보다 튜플을 더 많이 사용

### 튜플의 특징
* 튜플은 리스트와 거의 같다.
> 인덱싱, 슬라이싱 모두 동일하게 사용이 가능하다. 원소들도 자유롭게 접근이 가능
* 튜플은 리스트에 비해서 딱 2가지가 다르다.
    1. 리스트는 `[]`를 사용하고, 튜플은 `()`을 사용한다.
    2. 리스트는 **생성 후에 변경이 가능하고 (mutable)** **생성 후에 변경이 불가능(immutable)**
    > mutable : 생성된 이후에 변경(update)이 자유롭게 가능한 데이터 타입 : `list, dict, set`

    > immutable : 생성된 이후에 변경이 불가능한 데이터 타입 : `int, float, str, tuple, `

* 성능적인 이슈 면에서 튜플이 리스트보다 더 빠르다.
* 프로그래밍적인 이슈 면에서 데이터 수정 자체를 하지 말아야 하는 경우 실수를 방지 할 수 있다.

In [29]:
# 1,2를 원소로 가지는 튜플 생성하기
t1 = (1,2)
type(t1)

tuple

In [30]:
#튜플 안에 튜플
t2 = ('a','b',('c','d'))

In [33]:
# 리스트 안에 튜플
l3 = [1,2,(3,4)]
l3

[1, 2, (3, 4)]

In [34]:
# 튜플 안에 리스트 들어가기
t3 = (1,2,[3,4]) # 이렇게는 안쓰는게 좋다
t3

(1, 2, [3, 4])

In [35]:
t3[2]

[3, 4]

In [36]:
t3[2][0] = 100
t3

(1, 2, [100, 4])

프로그래밍을 할 때 될거 같다고 코딩하지 말고
누구나 알아보기 쉽고 공감할 수 있는 코드 작성하는게 중요

In [37]:
t4 = (1,2,3)
t4[0]

1

In [38]:
t4[-1]

3

In [39]:
t4[0:2]

(1, 2)

In [40]:
t1 = (1,2)
t2 = (3,4)
t1 + t2

(1, 2, 3, 4)

In [41]:
t1 * 3

(1, 2, 1, 2, 1, 2)

# 집합(set)
* 집합 자료형은 말 그대로 수학에서 배우는 집합
* 집합의 특징
    * 각 집합은 자료를 중복해서 저장하지 않는다.
    * 자료 입력의 순서를 유지 하지 않는다.
* 수학 처럼 집합(set)도 `{}`로 표시를 하기는 하지만, 파이썬에서는 보통 `dict`를 만들기 위해서 사용한다.
* 따라서 공집합을 만들때는 `set()`으로 만든다.
> `{1,2,3}` set(집합), `{'a' : 1, 'b' : 2}` dictionary(사전 : Dict)
* 집합의 연산인 교집합, 합집합, 차집합을 모두 지원
1. 집합의 특징은 중복을 허용하지 않는다. -> **원소의 종류**를 나타낼 때 좋다. (중복 제거 용도)
2. 입력 순서를 유지 하지 않는다. -> 원소의 index가 존재하지 않는다.

In [49]:
s1 = {1,2,3}

set은 Sequnce가 아니다

In [50]:
# set을 list나 tuple로 만들 수 있다.
l1 = list(s1)
l1

[1, 2, 3]

In [53]:
# list를 set으로 바꾸기
l2 = [1,1,2,2,3,3]
s2 = set(l2)
s2

{1, 2, 3}

## 집합의 연산

In [54]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

#교집합 - intersection
s1.intersection(s2)

{3, 4, 5}

In [55]:
# 합집합 - union
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [57]:
s1 + s2 # 오류 , 더하는게 아니다.

TypeError: ignored

In [58]:
# 차집합 - difference 또는 - 기호

s1 - s2

{1, 2}

In [59]:
s1.difference(s2) #유일한 값 찾기 위해 활용됨.

{1, 2}

## set의 함수(기능)

In [60]:
s1 = set()

# 원소 하나 추가하기

s1.add(1)
s1.add(3)
s1.add(2)

s1

{1, 2, 3}

In [61]:
# 원소를 여러개 추가하기
s1.update({4,5}) # union랑 비슷하지만 의미가 달라요.. 여러개 추가하기
s1

{1, 2, 3, 4, 5}

# 사전 (Dictionary)
* key-value 자료구조

| name(**key**) | code(**value**) |
| ---  | ---  |
| 'mhso'  | 34 |
| 'minho' | 33 |

* 리스트는 정수 인덱스를 이용해서 값에 접근(access)
* 사전(dict)은 key를 사용해서 값(value)에 접근(access)
    * 순서가 아닌, 의미가 있는 값을 통해서 데이터에 접근이 가능
* 다른 말로 Hash Table이라고도 불리며, 데이터 관리에 있어서 굉장히 중요한 형식
* `{}`를 활용해서 사전을 표현 하는데, set과의 차이점을 두기 위해서 `:`(콜론)으로 key, value를 구분
* `dict`를 표현할 때는 `{'mhso' : 34, 'minho' : 33}`
* `key`는 set으로 이루어져 있고, `value`는 리스트로 이루어져 있다.
    * key는 중복을 허용하지 않고, 순서도 유지가 되지 않는다.
    * value는 중복을 허용한다. (순서는 없다)

In [62]:
# 딕셔너리 만들기
d2 = {
    'name' : 'minho',
    'age' : 34
}

d2

{'age': 34, 'name': 'minho'}

In [63]:
# 딕셔너리에서 데이터를 꺼내는 방법 : key를 입력하는 것
d2['name']

'minho'

In [64]:
d2['age']

34

In [65]:
# 값 추가하기 - key와 value를 동시에 추가
d2['job'] = 'teacher'
d2

{'age': 34, 'job': 'teacher', 'name': 'minho'}

In [68]:
# 값 수정하기 - 추가와 동일하지만, 중복 key값은 수정하게 됨.
d2['job'] = 'student'
d2

{'age': 34, 'job': 'student', 'name': 'minho'}

In [69]:
d2['kimchi'] # 'kimchi'라는 키 값은 없음!

KeyError: ignored

In [71]:
d3 = {
    'a' : 1,
    'b' : 2,
    'a' : 3 # 키 값은 중복 허용 안됨 !
}
d3 # 뒤에 추가된 키 값만 살아남는다.

{'a': 3, 'b': 2}

In [73]:
d4 = {
    'a' : 1,
    'b' : 2,
    'd' : 3 
}
d4

{'a': 1, 'b': 2, 'd': 3}

> TIP 딕셔너리를 생성할 때 key의 타입이 무조건 immutable만 가능하다

> 튜플은 쓰지마라. 웬만하면 정수나 문자열로 키값을 설정하는 것을 추천

In [74]:
# 삭제 1 - del  키워드 사용하기
del d4['a'] # a키값에 등록된 데이터를 삭제
d4

{'b': 2, 'd': 3}

In [75]:
d4

{'b': 2, 'd': 3}

In [76]:
# 삭제 2 - pop 함수 알아보기
s = d4.pop('b')

print(s)
print(d4)

2
{'d': 3}

## 딕셔너리의 함수(기능)

In [77]:
d5 = {
    'fist_name' : 'keesung',
    'last_name' : 'lee',
    'age' : 25,
    'height' : 170
}

In [79]:
# 키값 확인하기 - keys
d5.keys()

dict_keys(['fist_name', 'last_name', 'age', 'height'])

In [81]:
# value만 확이하기 - values()
d5.values()

dict_values(['keesung', 'lee', 25, 170])

In [82]:
# key, value 쌍 보기 : items()
d5.items()

dict_items([('fist_name', 'keesung'), ('last_name', 'lee'), ('age', 25), ('height', 170)])

## 사전에 key값이 존재하는지 확인
* `in` 연산자는 dict 뿐만이 아니고 모든 연속형(iterable) 자료형(`list, tuple, set, dict, str)에 사용가능
* 원소가 있는가 없는가를 판단
    * 원소가 있으면 True
    * 원소가 없으면 False

In [83]:
l1 = [1,2,3]
t1 = (1,2,3)
s1 = {1,2,3}
d1 = {'a' : 1 , 'b' : 2, 'c' : 3}

In [88]:
print(1 in l1)
print(2 in t1)
print(4 in s1)
print('a' in d1)
print(1 in d1.values())

True
True
True
True
True

In [89]:
a = [1,2]
b = [1,2]
c = [a, 3]

print(b in c)

True

# 문제 1
자연수에서 10의 자리의 숫자를 출력하기
```python
예시
number = 12354853451231534531523451234
????
출력 결과 : 3
```

In [93]:
number = 45613256453142313
remain = number // 10 % 10

1

# 문제 2
주민등록 번호 가리기
```python
jumin1 = '880129-1157615'
jumin2 = '901215-2871523'
????
jumin1 -> 880120-1******
jumin2 -> 901215-2******
```

In [95]:
jumin1 = '880129-1157615'
jumin2 = '901215-2871523'

print('jumin1 -> ' + jumin1[:-6] + '*'*6)
print('jumin2 -> ' + jumin2[:-6] + '*'*6)

jumin1 -> 880129-1******
jumin2 -> 901215-2******

# 문제 3
3-1 단어의 종류 파악하기
```python

sentence = '나는 어제 바나나 두개를 먹었다. 바나나 맛있다.'
????

출력 결과 : [나는, 어제, 바나나, 두개를, 먹었다., 맛있다.]
```
3-2 사용된 단어의 개수 파악하기
```
출력 결과 : 6
```

In [96]:
sentence = '나는 어제 바나나 두개를 먹었다. 바나나 맛있다.'

print(set(sentence.split()))
print(len(set(sentence.split())))

{'이제', '바나나', '맛있다.', '나는', '두개를', '먹었다.'}
6